body {
  background: #0d0d0d;
  color: rgb(224, 223, 223);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
.glow:hover{
  text-shadow: 0px 0px 10px rgba(225, 225, 225, 0.40); 
  color: rgb(224, 220, 220); 
}
nav {
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(10px);
    position:sticky;
    top:0px;
    z-index: 10;
}
nav, ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    list-style: none;
}
 li, h1{
    margin: 5px;
    cursor: pointer;
    user-select: none;
}
.card1 p{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 12px;
    background:rgba(255, 255, 255, 0.08);
    color:whitesmoke;
}
.card1 img{
    display: block;
    margin:50px auto;
    margin-top: 10%;
    width: 300px;
    max-width: 600px;
}
#about {
    color: rgb(180, 180, 180);
   text-align: center;
   padding: 15px;  
   margin: 10px auto;
   border-radius: 12px;
   max-width: 700px;
   min-width: 400px;
  margin-top: 15%;
}
#about h2{
    color: whitesmoke;
}
#skill h2{
    text-align: center;
    width: 200px ;
    margin: 10px auto;
    margin-top: 25% ;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
}
.skillbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    padding: 20px;
}
.skillbox p{
    background: linear-gradient(45deg, blue, cyan);
    display: flex;
    aspect-ratio: 1/1;
    width: 200px;
    min-width: 80px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}
